@import './styles/desktop';
@import './styles/mobile';

.button {
    position: relative;
    width: 150px;
    height: 48px;
    background-color: $color-c;
    border-radius: $button-border-radius;
    border-style: none;
    color: $color-d;
}